/*FUENTE REGULAR TIENNE Y TILLANA*/
@import url('https://fonts.googleapis.com/css2?family=Tienne&family=Tillana&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color:white;
}

/*UBICANDO IMAGEN DE FONDO INICIO*/
.img-container{
    background: url(/assets/img/StockSnap_Inicio.jpg) no-repeat center center;
    background-size:cover;
    min-height: 100vh;
    opacity: .1;
    top: 0px;
}