.project-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-height: 700px;
    font-family:'Tienne', sans-serif;
}
.title-container{
    font-size: 58px;
    margin-top: 80px;
    margin-left:200px;
    font-weight: bold;
}
.card img{
    width: 100%;
}
.card{
    width: 20%;
    height: 20%;
    margin: 30px 30px 30px 30px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 2px #a69e9e;;
}
/*EFECTO CARDS*/
.card:hover{
    transform: translateY(-10px);
h4{
    font-size: 20px;
}
.card .text-p{
    line-height: 15px;
    font-size: 15px;
}



/* VER MAS*/
/*
.card #see {
    padding: 0 10rem;
    font-weight: normal;
    font-family: 'Tienne', sans-serif;
    text-align: center;
    color: blue;
}*/
